In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('input/un_labeled_data.csv')

In [7]:
df.dropna(axis=1,inplace=True)

In [8]:
df.head()

     NO   NO2    NOx    NH3    CO   SO2
0  6.99  2.85  11.93  26.64  0.60  4.53
1  7.20  1.27  10.65  25.63  0.56  4.22
2  7.19  0.91  10.37  29.16  0.57  4.46
3  7.14  1.07  10.48  28.95  0.57  4.53
4  7.09  0.36   9.73  28.41  0.48  4.63

In [10]:
df.shape

(14704, 6)

In [11]:
from sklearn.cluster import KMeans

In [13]:
X = df.values

In [15]:
model = KMeans(n_clusters=5, max_iter=100, n_init=1)
model.fit(X)

KMeans(max_iter=100, n_clusters=5, n_init=1)

In [17]:
predict=model.predict(X)

In [19]:
df['Label'] = pd.Series(predict, index=df.index)

In [20]:
df.to_excel('input\cluster_data.xlsx')

# Thank You...